$blue: #007bff;
$fc: #909399;
$white: #ffffff;
$bc: #f8f8f8;
$borcd:#b2b2b2;
$borcl:#efeff4;
$headH: 50px;
$headfc: #222222;

// 背景图片地址和大小
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
//定位全屏
@mixin allcover{
	position:absolute;
	top:0;
	right:0;
}

//定位上下左右居中
@mixin center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位上下居中
@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {  
	font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
	display: flex;
	justify-content: $type;

}
// 缺省button背景色
@mixin dbb {
	background: -webkit-linear-gradient(left, #00abff , #007bff); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #00abff, #007bff); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #00abff, #007bff); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #00abff , #007bff); /* 标准的语法 */
}

// 缺省title背景色
@mixin dtb {
	background: -webkit-linear-gradient(#00abff , #007bff); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#00abff, #007bff); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#00abff, #007bff); /* Firefox 3.6 - 15 */
	background: linear-gradient(#00abff , #007bff); /* 标准的语法 */
}